doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1', shrink-to-fit='no')
    style(type='text/css').
      body { 
          background-image: url('./../images/404.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center; 
      }
      .center{
        position:absolute;
        height: X px;
        width: Y px;
        left:30%;
        top:20%;
        margin-top:- X/2 px;
        margin-left:- Y/2 px;
        font-size: 300%;
        font-weight: 1000;
      }
  body
  .center
      | #{title}
